{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h4>Importar Cartera</h4>
        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-primary">
                    Importar
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}